$colour: pink;
$padding: 10px;

body {

}
body, textarea { 
	font-family:"Roboto","Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans","Trebuchet MS2",sans-serif; }
h1 { font-size:200%; }
h2 { font-size:180%; }
h3 { font-size:160%; }

a {
	padding: 1em;
}
